/* Estilos para el dispositivo mobil */
.contacto {
    background-color: var(--background-cielo-suave);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.contacto__imagen {
    display: none;
}

.contacto__titulo {
    text-transform: uppercase;
    color: var(--color-texto-ceniza);
    font-weight: bold;
    letter-spacing: .1rem;
}

.contacto__subtexto {
    margin-bottom: 0.3rem;
}

.contacto__texto {
    margin-top: 0;
}

.contacto__formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contacto__formulario--input {
    border: none;
    border-bottom: 2px solid var(--border-azul-marino);
    border-radius: 4px;
    margin-bottom: 2rem;
    font-size: 16px;
}

.contacto__formulario--nombre,
.contacto__formulario--correo,
.contacto__formulario--asunto {
    padding: .8rem 0 .8rem 1rem;
}

.contacto__formulario--mensaje {
    resize: none;
    padding: .8rem 0 .8rem 1rem;
}

.contacto__formulario--boton {
    border: none;
    border-radius: .5rem;
    background: #2A7AE4;
    color: var(--color-blanco);
    padding: 12px 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
}


/* Para tablet */
@media screen and (min-width: 768px)
{
    .contacto__formulario--boton {
        width: 200px;
    }
}

/* Para escritorio (desktop) */
@media screen and (min-width: 1024px) 
{
    .contacto {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .contacto__imagen {
        display: block;
    }

    .contacto__formulario--nombre,
    .contacto__formulario--correo,
    .contacto__formulario--asunto {
        padding: .5rem 0 .5rem 1rem;
    }

    .contacto__formulario--mensaje {
        resize: none;
        padding: .5rem 0 .5rem 1rem;
    }   

    .contacto__formulario--boton:hover {
        background: #2E3957;
        color: var(--color-blanco);
        transition: 0.3s ease-out;
    }
}