.habilidades {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.habilidades__titulo {
    text-transform: uppercase;
    color: var(--color-texto-ceniza);
    font-weight: bold;
    letter-spacing: .1rem;
    text-align: center;
    margin-bottom: 2rem;
}

.habilidades__tecnicas {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.habilidad__tecnica--item {
    background: var(--color-blanco);
    display: flex;
    flex-direction: column;
    margin: 0 1rem 2rem 1rem;
    border-radius: 5px;
    border: 1px solid #a52a2a;
    width: 130px;
    height: 118px;
}

.habilidad__tecnica--html {
    width: 24px;
    height: 28px;
    padding-top: 2.5rem;
    padding-left: 1rem;
}

.habilidad__tecnica--javascript {
    width: 28px;
    height: 28px;
    padding-top: 2.5rem;
    padding-left: 1rem;
}

.habilidad__tecnica--php {
    width: 40px;
    height: 22px;
    padding-top: 2.5rem;
    padding-left: 1rem;
}

.habilidad__tecnica--css {
    width: 22px;
    height: 36px;
    padding-top: 2rem;
    padding-left: 1rem;
}

.habilidad__tecnica--java {
    width: 36px;
    height: 36px;
    padding-top: 2rem;
    padding-left: 1rem;
}

.habilidad__tecnica--sql {
    width: 36px;
    height: 36px;
    padding-top: 2rem;
    padding-left: 1rem;
}

.habilidad__tecnica--titulo {
    font-weight: bold;
    color: var(--color-texto-ceniza);
    padding-left: 1rem;
}


/* Parra Tablet */
@media screen and (min-width: 768px) 
{
    .habilidad__tecnica--item {
        width: 190px;
    }
}

/* Para Escritorio (Desktop)*/


