/* .hobbies {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
} */

.hobbies__titulo {
    text-transform: uppercase;
    color: var(--color-texto-ceniza);
    font-weight: bold;
    letter-spacing: .1rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
}

.hobbies__lista {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hobbie__lista--item {
    background: var(--color-blanco);
    display: flex;
    flex-direction: column;
    margin: 0 1rem 2rem 1rem;
    border-radius: 5px;
    border: 1px solid #a52a2a;
    width: 130px;
    height: 118px;
}

.hobbie__lista--guitarra {
    width: 34px;
    height: 33px;
    padding-top: 2.5rem;
    padding-left: 1rem;
}

.hobbie__lista--musica,
.hobbie__lista--series {
    width: 32px;
    height: 32px;
    padding-top: 2.5rem;
    padding-left: 1rem;
}

.hobbie__lista--titulo {
    font-weight: bold;
    color: var(--color-texto-ceniza);
    padding-left: 1rem;
}


