.sobre-mi {
    background-color: var(--background-cielo-suave);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.sobre-mi__titulo {
    text-transform: uppercase;
    color: var(--color-texto-ceniza);
    font-weight: bold;
    letter-spacing: .1rem;
    text-align: center;
}

.sobre-mi__texto {
    text-align: justify;
    line-height: 1.2;
    color: var(--color-texto-ceniza);
}


/* Para Escritorio (Desktop) */
@media screen and (min-width: 1024px)
{
    .sobre-mi {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .sobre-mi__contenido {
        width: 85%;
        margin: 0 auto;
    }

    .sobre-mi__texto {
        line-height: 1.5;
    }
}